<div class="p-8 mt-12 mb-24" class="w-100-p h-100-p center-wrapper column">
  @switch (mode) { @case (0) {
  <h1>READ TASK</h1>
  } @case (1) {
  <h1>EDIT TASK</h1>
  } @case (2) {
  <h1>NEW TASK</h1>
  } } @if (formLoaded) {
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    (keydown.enter)="$event.preventDefault()"
    class="task-card p-12"
  >
    <input type="hidden" formControlName="id" />
    <mat-form-field class="w-100-p">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field class="w-100-p">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100-p">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        @for (taskStatus of taskStatusList; track $index) {
        <mat-option [value]="taskStatus.id">{{ taskStatus.title }} </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
        <input
          matStartDate
          formControlName="startDate"
          placeholder="Start date"
        />
        <input matEndDate formControlName="dueDate" placeholder="End date" />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <div class="pt-12 pb-12 mt-8">
      <mat-divider></mat-divider>
      <div class="mt-12">
        @switch (mode) { @case (0) {
        <button mat-flat-button color="primary">GO BACK</button>
        } @case (1) {
        <button
          mat-flat-button
          color="primary"
          class="mr-12"
          [disabled]="form.invalid"
        >
          UPDATE
        </button>
        <button
          mat-flat-button
          type="button"
          color="primary"
          (click)="onCancel()"
        >
          CANCEL
        </button>
        } @case (2) {
        <button
          mat-flat-button
          color="primary"
          class="mr-12"
          [disabled]="form.invalid"
        >
          SAVE
        </button>
        <button
          mat-flat-button
          type="button"
          color="primary"
          (click)="onCancel()"
        >
          CANCEL
        </button>

        } }
      </div>
    </div>
  </form>
  }
</div>
