.w-10-p {
  width: 10%;
}
.w-20-p {
  width: 20%;
}
.w-30-p {
  width: 30%;
}
.w-40-p {
  width: 40%;
}
.w-50-p {
  width: 50%;
}
.w-60-p {
  width: 60%;
}
.w-70-p {
  width: 70%;
}
.w-80-p {
  width: 80%;
}
.w-90-p {
  width: 90%;
}
.w-100-p {
  width: 100%;
}

.h-10-p {
  height: 10%;
}
.h-20-p {
  height: 20%;
}
.h-30-p {
  height: 30%;
}
.h-40-p {
  height: 40%;
}
.h-50-p {
  height: 50%;
}
.h-60-p {
  height: 60%;
}
.h-70-p {
  height: 70%;
}
.h-80-p {
  height: 80%;
}
.h-90-p {
  height: 90%;
}
.h-100-p {
  height: 100%;
}
