@import "styles/vars.scss";

:host {
  .nav-wrapper {
    background-color: $primary-color;
    color: $white-color;

    .profile {
      .profile--name,
      .profile--avatar {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        max-height: 100%;
        place-content: end center;
        align-items: center;
      }
    }
  }
}
