:host {
  .nav-wrapper {
    background-color: #424242;
    color: #fff;

    .profile {
      .profile--name,
      .profile--avatar {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        max-height: 100%;
        place-content: end center;
        align-items: center;
      }
    }
    .avatar {
      background-size: cover;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
  }
}
