/* You can add global styles to this file, and also import other style files */
@import "styles/spacing.scss";
@import "styles/lengths.scss";
@import "styles/vars.scss";

html,
body {
  height: 100%;
  background-color: $main-background-color;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.action {
  cursor: pointer;
}

.avatar {
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.fxFlex {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
}

.fxLayoutRowWrap {
  flex-direction: row wrap;
}
.fxLayoutColumn {
  flex-direction: column;
}
.fxLayoutAlignCenter {
  justify-content: center;
  align-items: center;
}
.fxLayoutAlignStartCenter {
  justify-content: start;
  align-items: center;
}
.fxLayoutAlignEndCenter {
  place-content: end center;
  align-items: center;
}
